<p>This is the partial for view 1.</p>
<p bindonce>
	<input type="text" bo-text="desc">
	<span>
		service测试:[{{constant}}:{{service1_v}}:{{service2_v}}:{{service3_v}}]
	</span>
</p>
<p>
	<button ng-click="test()">调用</button>
</p>
<p>
	<input type="checkbox" ng-model="isshow" >:是否显示
</p>
<p ng-show="isshow" class="green">
	if isshow is true ,that is show!
</p>
<p ng-hide="isshow" class="error">
	if isshow is false ,that is show!
</p>
<tab>
	<expander class='expander' ng-repeat="expander in expanders" expander-title='expander.title' abc="x">
      {{expander.text}}
	</expander>
</tab>
<div class="abc">
    <button crm-add >添加内容</button>
</div>

<div class="main" ng-controller="Xuwm">
	<p>{{abc}}</p>
	<p>
		<button ng-click="emitevent()">事件测试</button>
	</p>
</div>
