<p>This is the partial for view 2.</p>
<p>{{desc}}</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<p>
	<input type="radio"  ng-model="gent" value="man"><span> 男 </span>
	<input type="radio"  ng-model="gent" value="women"><span> 女 </span>
</p>
<ul>
	<li ng-repeat="item in args">
		<div ng-switch on="item.iscustomer">
			 <div ng-switch-when="keyword">
			 	<p>{{item.name}}:{{item.desc}}</p>
			 </div>
             <div ng-switch-when="comment">
             	<p>{{item.name}}:{{item.desc}}</p>
             </div>
             <div ng-switch-when="at">
             	<p>{{item.name}}:{{item.desc}}</p>
             </div>
             <div ng-switch-when="private">
             	<p>{{item.name}}:{{item.desc}}</p>
             </div>
		</div>
	</li>
</ul>

<ul>
	<li ng-repeat="num in numbers">
		<p>{{num.name}}</p>
		<p>{{num.desc}}</p>
		<p><input type="text" getter="test3(num)"  setter="test2(num,$element)" ></p>
	</li>
</ul>